# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/project/vendor

# composer itself is not needed
composer.phar

# composer.lock is not for a package template
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/project/phpunit.xml
# phpunit cache
.phpunit.result.cache

# local environment
.env
docker-compose.override.yml
/project/rr_cache_dir

# RoadRunner binary
/project/rr
